.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #ffffff;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.overlay {
    z-index: 5;
}
    .overlay .container {
        width: 100%;
        height: 890px;
    }
    .overlay h1 {
        font-weight: 300;
        font-size: 18px;
        line-height: 1;
        margin-bottom: 0;
        padding-bottom: 5px;
    }
    .overlay p {
        font-size: 12px;
        color: black;
    }
    .overlay .closebutton {
        z-index: 8;
        color: black;
        border: 0;
        padding: 10px;
        position: relative;
        float: right;
        top: -10px;
        font-size: 20px;
        line-height: 1;
        appearance: none;
        cursor: pointer;
        outline: inherit;
    }

