@import url('https://fonts.googleapis.com/css2?family=Georgia');

:root {
    --primary-color: #3a4052;
    --bg-color: #0b1419;
    --secondary-color: #8a8988;
    --accent-color: #312237;
    --MainText-color: white;
    --Text-color: #F9F6EE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    padding: 20px;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 16px;
}

h1 {
    font-weight: 300;
    font-size: 6rem;
    line-height: 1.2;
    margin-bottom: 15px;
    padding-bottom: 25px;
}
h2 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

a {
    text-decoration: none;
}

.showcase {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    padding: 0 20px;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
    .video-container video {
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
    .video-container:after {
        content: '';
        z-index: 1;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
    }

.content {
    z-index: 2;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style: none;
    padding: 18px;
    margin-top: -18px;
    display: inline-block;
    transition: 0.5s ease-in-out;
    text-decoration: none;
    border-style: unset;
    position: relative;
    cursor: pointer;
}
    .social a::before {
        font-family: "FontAwesome";
        text-decoration: none;
        -webkit-background-clip: text;
        font-size: 3rem;
        color: white;
    }
    .social:nth-child(1) a::before {
        content: "\f09b";
    }
    .social:nth-child(2) a::before {
        content: "\f0e1";
    }
    .social:hover {
        background: transparent;
        color: #03e9f4;
        filter: hue-rotate(110deg);
        text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
    }

.btn {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    margin-bottom: 50px;
    background: none;
    color: #fff;
    border: solid #fff 0px;
    margin-top: 10px;
    transition: 0.5s;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}
    .btn:hover {
        background: #03e9f4;
        color: #050801;
        box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    }

.btn:nth-child(1) {
    filter: hue-rotate(270deg);
}
.btn:nth-child(2) {
    filter: hue-rotate(110deg);
}
.btn span {
    position: absolute;
    display: block;
}
    .btn span:nth-child(1) {
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg,transparent,#03e9f4);
        animation: animate1 1s linear infinite;
    }
    .btn span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg,transparent,#03e9f4);
        animation: animate2 1s linear infinite;
        animation-delay: 0.25s;
    }
    .btn span:nth-child(3) {
        bottom: 0;
        right: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg,transparent,#03e9f4);
        animation: animate3 1s linear infinite;
        animation-delay: 0.50s;
    }
    .btn span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg,transparent,#03e9f4);
        animation: animate4 1s linear infinite;
        animation-delay: 0.75s;
    }
@keyframes animate1 {
    0% {
        left: -100%;
    }

    50%,100% {
        left: 100%;
    }
}
@keyframes animate2 {
    0% {
        top: -100%;
    }

    50%,100% {
        top: 100%;
    }
}
@keyframes animate3 {
    0% {
        right: -100%;
    }

    50%,100% {
        right: 100%;
    }
}
@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    50%,100% {
        bottom: 100%;
    }
}

.pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 6px 30px rgba(0,0,0,0.4);
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    z-index: 10;
    background-color: var(--bg-color);
    color: white;
}
.content2 {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.navigation {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .navigation a {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2rem;
        color: var(--secondary-color);
        padding: 5px 5px 0 5px;
        border-bottom: 3px solid #72414100;
        flex-basis: 20%;
    }
        .navigation a:hover {
            transition: 0.3s;
            border-bottom: 3px solid #4E204D;
        }
    .navigation .selected {
        border-bottom: 3px solid var(--accent-color);
        color: var(--MainText-color);
    }

.btncontainer {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    display: flex;
}
    .btncontainer .btn2 {
        position: relative;
        padding: 10px 30px 10px 30px;
        width: 36%;
        margin: 10px 10px 0 0;
        background: none;
        color: var(--primary-color);
        border: solid #fff 0px;
        margin-top: 10px;
        transition: 0.5s;
        overflow: hidden;
        cursor: pointer;
        text-decoration: none;
        font-size: 1.5rem;
    }
        .btncontainer .btn2:hover {
            background: var(--accent-color);
            color: var(--MainText-color);
            box-shadow: 0 0 5px var(--accent-color), 0 0 25px var(--accent-color), 0 0 50px var(--accent-color);
        }

.close {
    padding: 5px 10px 5px 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    color: white;
    transition: all .4s;
}
    .close:hover {
        cursor: pointer;
        background: #03e9f4;
        color: #050801;
        box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
    }

.profileImg{
    position: absolute;
    left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
    height: 100px;
    width: 100px;
}
    .profileImg img {
        border-radius: 50%;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

.popupContent{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
    align-content: center;
    width: 90%;
    height: 70%;
}
    .popupContent .name {
        font-size: 2rem;
        color: var(--MainText-color);
    }
    .popupContent .jobT {
        font-size: 1.5rem;
        color: var(--secondary-color);
    }
    .popupContent .intro {
        padding-top: 15px;
        font-size: 1.25rem;
        color: var(--Text-color);
    }

ul {
    list-style-type: none;
}

.CVbtn{
    padding: 5px;
}

.CVEmail{
    padding: 5px;
}

.open {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

img {
    opacity: 1;
    transition: 1s;
    transition-delay: .3s;
    transform: translateX(0px);
}

.card-timeline {
    margin-top: 25px;
    position: relative;
}
    .card-timeline:after {
        background: linear-gradient( to bottom, var(--accent-color) 67%, var(--bg-color) 100% );
        position: absolute;
        left: 39%;
        top: 0;
        height: 100%;
        width: 2px;
        content: "";
    }
.card-item {
    position: relative;
    padding: 85px 50px 15px 100px;
    z-index: 1;
}
    .card-item:last-child {
        padding-bottom: 5px;
    }
    .card-item:after {
        content: attr(data-year);
        position: absolute;
        top: 0;
        left: 38.55%;
        width: 8px;
        height: 8px;
        font-size: 1.5rem;
        line-height: 0.1;
        border: 5px solid var(--accent-color);
        text-indent: -200px;
        border-radius: 50%;
        background: var(--accent-color);
    }
.card-item-title {
    font-size: 1.5rem;
    position: absolute;
    top: -15px;
    left: 40.5%;
    color: var(--secondary-color);
}
    .card-item-title span {
        color: var(--secondary-color);
    }
.card-item-desc {
    position: absolute;
    top: 13px;
    left: 40.5%;
    font-size: 1rem;
    text-align: left;
    color: var(--Text-color);
}

.subform {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 70%;
    z-index: 100;
    padding: 30px;
    text-align: center;
    background: var(--bg-color);
}
.subform form{
    padding: 15px;
    position: relative;
}
.subform h3 {
    font-size: 1.5rem;
    color: black;
    letter-spacing: 0.07rem;
}
    .subform input {
        font-size: 1.25rem;
        text-align: center;
        padding: 5px;
        margin: 5px 0 5px 0;
        width: 98.25%;
    }
    .subform input:nth-child(1) {
        width: 49%;
    }
    .subform input:nth-child(2) {
        width: 49%;
    }
    .subform .closeCover{
        width: 100px;
        height: 100px;
        position: absolute;
        top: -150px;
        right: -300px;
        background-color: var(--bg-color);
    }

@media only screen and (max-width: 1540px) {
    h1{
        color: hotpink
    }
}
@media only screen and (max-width: 1000px) {
    h1 {
        color: blue
    }
}